---
import Frame from '../components/Frame.astro'
import Underline from '../components/Underline.astro'
import Layout from '../layouts/Layout.astro'

interface Frontmatter {
  title: string
  id: string
}

const ideas = await Astro.glob<Frontmatter>('../ideas/*.mdx')
---

<Layout title={import.meta.env.PUBLIC_APP_TITLE}>
  <main>
    {
      ideas.map(({ frontmatter, Content }, index) => (
        <article id={frontmatter.id} class="idea">
          <div>
            <hgroup>
              <Frame as="p" variant="primary">
                Idée reçue n°<strong>{index + 1}</strong>&nbsp;:
              </Frame>
              <Underline>
                {/* eslint-disable-next-line astro/no-set-html-directive */}
                <h2 set:html={`«&nbsp;${frontmatter.title}&nbsp;»`} />
              </Underline>
            </hgroup>
            <Content />
          </div>
        </article>
      ))
    }
  </main>
</Layout>

<style lang="sass">
  main
    display: flex
    flex-direction: column
    overflow-y: auto
    scroll-snap-type: y mandatory
    scroll-padding: 0 0 25%
    -webkit-overflow-scrolling: touch

  article
    width: 100%
    min-height: 100%
    flex-shrink: 0
    display: flex
    scroll-snap-align: start
    scroll-snap-stop: always

    color: var(--text)
    background-color: var(--background)

    & > div
      padding: 32px
      max-width: 900px
      margin: auto

      @media (min-width: 900px)
        margin-block: 0

    & > :global(p)
      @media (min-width: 900px)
        max-width: 80%

      &:last-of-type
        margin-bottom: 32px

  hgroup
    display: flex
    flex-direction: column
    gap: 20px

    p
      position: relative
      display: inline-block
      width: max-content
      padding: 4px 10px

      line-height: var(--32px)
      font-size: var(--24px)
      font-weight: 200

    h2
      margin-bottom: 32px

      :global(strong)
        font-weight: 900

  article:nth-child(even)
    --text: var(--white)
    --background: var(--grey-900)

    :global(a)
      color: var(--grey-100)
</style>

<script>
  const observer = new IntersectionObserver(
    entries => {
      entries.forEach(entry => {
        if (!entry.isIntersecting) return

        history.replaceState(undefined, '', `#${entry.target.id}`)
        const titleElement = entry.target.querySelector('h2')

        const appTitle = import.meta.env.PUBLIC_APP_TITLE

        if (!titleElement) {
          document.title = appTitle
          return
        }

        document.title = `${titleElement.textContent} · ${appTitle}`
      })
    },
    {
      threshold: 0.5,
    }
  )

  document.querySelectorAll('article.idea').forEach(element => {
    observer.observe(element)
  })
</script>
